@import url(cores.css);

#menu{
    position: fixed;
    background-color: var(--cor_1);
    display: flex;  
    justify-content: center;
    height: 60px; 
    width: 100svw; 
    top: 0; 
    left: 0;
   
}
.content_menu{
    width: 80%;
    height: 100%;
    gap: 20px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.container {
    width: 60px; 
    height: 60px;
    padding: 10px;
}

.container img {
    max-width: 40px; 
    max-height: 40px; 
    height: auto;
    display: block;
}