@import url(cores.css);
@import url(configurações_menu.css);

body{
    margin: 0px;
    max-width: 100svw;
    font-family: Verdana, Tahoma, sans-serif;
    overflow-x: hidden;
}
/* Estilização conteudo*/

.header{
    background-image: linear-gradient(
        to right,
            var(--cor_1) 25%,    
            var(--cor_3) 75%
    ); 
    height: 60svh;
    width: 100vw;
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.content_header{
    width: 80%;
    height: 100%;
    gap: 20px;
    display: flex; 
    justify-content: left;
    align-items: center;
}
.secao{
    height: auto;
    background-color:var(--cor_4);
    display: flex;
    justify-content: center;
   
    padding: 20px;
}
.content{
    width: 80%;
    height: 100%;
    gap: 20px;
}
.identidade{
    max-width: 100%;
}

/* Estilização para links menu*/

.botao {
  display: inline-flex; 
  justify-content: center;
  align-items: center; 
  padding-left: 16px;
  padding-right: 16px;
  height: 100%; 
  font-size: 16px; 
  font-weight: bold; 
  text-decoration: none; 
  cursor: pointer; 
   

  color: var(--cor_2); 
  background-color: var(--cor_1); 
  border-radius: 5px; 
  transition: background-color 0.3s ease; 
}


.botao:hover {
  background-color: var(--cor_3); 
 
}




 /* Estilização para dropdown*/

.dropbtn {
    height: 60px;
    background-color: var(--cor_1); 
    color: var(--cor_2); 
    padding: 16px; 
    font-size: 16px; 
    border: none; 
    cursor: pointer; 
}

.dropdown {
    position: relative;
    display: inline-block; 
}

.dropdown-content {
    display: none; 
    position: absolute; 
    background-color: var(--cor_1); 
    color: var(--cor_2);  
    min-width: 160px; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
    z-index: 1; 
}

.dropdown-content a {
    color: var(--cor_2);
    padding: 12px 16px; 
    text-decoration: none; 
    display: block; 
}

.dropdown-content a:hover {
    background-color: var(--cor_3);
}

.dropdown:hover .dropdown-content {
    display: block; 
}

.dropdown:hover .dropbtn {
  background-color: var(--cor_3);
}
